---
import { YouTube } from '@astro-community/astro-embed-youtube';

import Layout from "../../../layouts/Layout.astro";
import Tag from "../../../components/Tag.astro";
import Marked from "../../../components/Marked.astro";
import Container from "../../../components/Container.astro";
import Text from "../../../components/Text.astro";
import Hero from "../../../components/Hero.astro";

import {
    getTagAccent,
    secondsToTime,
    addCommasToNumbers,
    getVideos,
    getVideo,
    pageTitle,
} from "../../../utils";

export async function getStaticPaths() {
    const videos = await getVideos();
    return videos
        .map(({full_slug}) => full_slug.split('/'))
        .map(([playlists, playlist, slug]) => ({ params: {playlist, slug} }));
}

const { slug, playlist } = Astro.params;
const { story, youtube } = await getVideo(playlist, slug);
const {tagBackground,tagColor} = getTagAccent(story.tag_list);

---



<Layout title={pageTitle(story.name, 'Watch' , playlist)}
        class="video"
        canonical={story.full_slug}>

    <Hero title={story.name}/>

    <Container size="narrow" gutterSm={false}>

        <div class="video__player">
            <YouTube id={story.content.video_id} class="video__embed"/>
        </div>

        <dl class="video__meta">
            <dt class="video__meta-key">
                <Text weight="medium">Published</Text>
            </dt>
            <dd class="video__meta-value">
                <Text as="time" weight="regular" datetime={youtube.datePublished}>
                    {youtube.datePublished}
                </Text>
            </dd>
            <div class="video__meta-break"></div>

            <dt class="video__meta-key">
                <Text weight="medium">Duration</Text>
            </dt>
            <dd class="video__meta-value">
                <Text weight="regular">{secondsToTime(youtube.duration)}</Text>
            </dd>
            <div class="video__meta-break"></div>

            <dt class="video__meta-key">
                <Text weight="medium">Views</Text>
            </dt>
            <dd class="video__meta-value">
                <Text weight="regular">{addCommasToNumbers(youtube.views)}</Text>
            </dd>
            <div class="video__meta-break"></div>

            <dt class="video__meta-key">
                <Text weight="medium">Tags</Text>
            </dt>

            {story.tag_list.map(tag => (
            <dd class="video__meta-value">
                <Tag tag={tag}/>
            </dd>
            ))}
        </dl>
    </Container>

    <Container size="narrow">
        <Marked class="video__description"
                content={story.content.long_description}/>
    </Container>
</Layout>


<style define:vars={{ background: tagBackground, backgroundAccent: tagColor }}>

.video__player {
    border-block: 16px solid var(--background, var(--color-magenta));
}

.video__embed {
    max-width: unset;
}

.video__meta {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
    border-bottom: 8px solid var(--background, var(--color-magenta));
    padding: 16px var(--container-gutter);
}

.video__meta-key {
    width: 100px;
}

.video__meta-value {
    max-width: calc(100% - 180px);
}

.video__meta-break {
    width: 100%;
}

.video__description {
    margin-bottom: 24px;
}

@media(min-width: 48em) {
    .video__player {
        margin-top: 32px;
        border-top-width: 8px;
    }

    .video__meta {
        padding-block: 32px;
        margin-bottom: 32px;
    }

    .video__description {
        margin-bottom: 64px;
    }
}

</style>
