---
import { YouTube } from '@astro-community/astro-embed-youtube';

import Layout from "../../../layouts/Layout.astro";
import Tag from "../../../components/Tag.astro";
import Marked from "../../../components/Marked.astro";
import Container from "../../../components/Container.astro";
import Text from "../../../components/Text.astro";

import {
    getTagAccent,
    secondsToTime,
    addCommasToNumbers,
    getVideos,
    getVideo,
    pageTitle,
} from "../../../utils";

export async function getStaticPaths() {
    const videos = await getVideos();
    return videos
        .map(({full_slug}) => full_slug.split('/'))
        .map(([playlists, playlist, slug]) => ({ params: {playlist, slug} }));
}

const { slug, playlist } = Astro.params;
const { story, youtube } = await getVideo(playlist, slug);
const { tagBackground, tagColor } = getTagAccent(story.tag_list);

---



<Layout title={pageTitle(story.name, 'Watch' , playlist)}
        class="video"
        canonical={story.full_slug}>

    <Container size="narrow" gutterSm={false}>

        <div class="video__player">
            <YouTube id={story.content.video_id}
                     poster={youtube.thumbnailUrl}
                     class="video__embed"/>
        </div>

        <div class="video__title">
            <Text as="h1" size="T600" color="inherit">{story.name}</Text>
        </div>

        <dl class="video__meta">
            <dt class="video__meta-key">
                <Text weight="medium">Published</Text>
            </dt>
            <dd class="video__meta-value">
                <Text as="time" weight="regular" datetime={youtube.datePublished}>
                    {youtube.datePublished}
                </Text>
            </dd>

            <dt class="video__meta-key">
                <Text weight="medium" size="T200">Duration</Text>
            </dt>
            <dd class="video__meta-value">
                <Text size="T200">{secondsToTime(youtube.duration)}</Text>
            </dd>

            <dt class="video__meta-key">
                <Text weight="medium" size="T200">Views</Text>
            </dt>
            <dd class="video__meta-value">
                <Text size="T200">{addCommasToNumbers(youtube.views)}</Text>
            </dd>

            <dt class="video__meta-key">
                <Text weight="medium" size="T200">Tags</Text>
            </dt>
            <dd class="video__meta-value video__meta-value--tags">
            {story.tag_list.map(tag => (
                    <Tag tag={tag}/>
            ))}
            </div>
        </dl>

        <Marked class="video__description"
                content={story.content.long_description}/>

    </Container>

</Layout>


<style define:vars={{ background: tagBackground, backgroundAccent: tagColor }}>

.video__player {
    border: 2px solid var(--background, var(--color-magenta));
    border-top-width: 16px;
    border-inline-width: 0;
}

.video__embed {
    max-width: unset;
}

.video__title {
    background-color: var(--background, var(--color-magenta));
    color: var(--backgroundAccent, var(--color-0));
}

.video__meta {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 8px;
    border-bottom: 2px solid var(--background, var(--color-magenta));
    background-color: var(--color-95);
}

.video__title,
.video__meta,
.video__description {
    padding-inline: var(--container-gutter);
    padding-block: 16px;
}

.video__meta-value--tags {
    display: flex;
    gap: 8px;
}

@media(min-width: 48em) {

    .video {
        padding-top: 32px;
    }

    .video__description {
        padding-inline: 0;
    }

    .video__title,
    .video__description {
    }

    .video__title,
    .video__meta,
    .video__description {
        padding-block: 24px;
    }

}

</style>
