---
import { useStoryblokApi } from "@storyblok/astro";
import { YouTube } from '@astro-community/astro-embed-youtube';
import yt from "updated-youtube-info";


import Layout from "../../../layouts/Layout.astro";
import Tag from "../../../components/Tag.astro";
import Marked from "../../../components/Marked.astro";
import Container from "../../../components/Container.astro";
import Text from "../../../components/Text.astro";
import { getTagAccent, secondsToTime, addCommasToNumbers, getCanonicalTag } from "../../../utils";

export async function getStaticPaths() {
    const storyblokApi = useStoryblokApi();

    const { data: { stories } } = await storyblokApi.get('cdn/stories', {"content_type": "video"})

    return stories.reduce((acc, curr) => {
       const paths = curr.tag_list.map(tag => ({params:{tag, slug: curr.slug}}));
        return [...acc,...paths];
    }, []);
}

const { slug, tag } = Astro.params;

const storyblokApi = useStoryblokApi();
const { data: {stories} } = await storyblokApi.get(`cdn/stories/`, {
    "content_type": "video",
    "with_tag": tag,
});

const story = stories.find(story => story.slug === slug);
const content = story.content;
const youtube = await yt(content.video_id);

const {tagBackground,tagColor} = getTagAccent(story.tag_list);
const canonicalTag = getCanonicalTag(story.tag_list);
---

<Layout title={story.name} class="video" canonical={`playlists/${canonicalTag}/${story.slug}`}>
    <Container size="narrow" gutterSm={false}>

        <div class="video__player">
            <YouTube id={content.video_id} class="video__embed"/>
        </div>

        <div class="video__title">
            <Text as="h1" size="T600">{story.name}</Text>
        </div>

        <dl class="video__meta">
            <dt class="video__meta-key">
                <Text weight="medium">Published</Text>
            </dt>
            <dd class="video__meta-value">
                <Text as="time" weight="regular" datetime={youtube.datePublished}>
                    {youtube.datePublished}
                </Text>
            </dd>
            <div class="video__meta-break"></div>

            <dt class="video__meta-key">
                <Text weight="medium">Duration</Text>
            </dt>
            <dd class="video__meta-value">
                <Text weight="regular">{secondsToTime(youtube.duration)}</Text>
            </dd>
            <div class="video__meta-break"></div>

            <dt class="video__meta-key">
                <Text weight="medium">Views</Text>
            </dt>
            <dd class="video__meta-value">
                <Text weight="regular">{addCommasToNumbers(youtube.views)}</Text>
            </dd>
            <div class="video__meta-break"></div>

            <dt class="video__meta-key">
                <Text weight="medium">Tags</Text>
            </dt>
            {story.tag_list.map(tag => (
                <dd class="video__meta-value">
                    <Tag tag={tag}/>
                </dd>
            ))}
        </dl>
    </Container>

    <Container size="narrow">
        <Marked class="video__description" content={content.long_description} />
    </Container>
</Layout>

<style define:vars={{ background: tagBackground, backgroundAccent: tagColor }}>

.video__player {
    border-block: 16px solid var(--background, var(--color-magenta));
}

.video__embed {
    max-width: unset;
}

.video__title {
    padding: 16px var(--container-gutter) 0;
}

.video__meta {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
    border-bottom: 8px solid var(--background, var(--color-magenta));
    padding: 16px var(--container-gutter);
}

.video__meta-key {
    width: 100px;
}

.video__meta-value {
    max-width: calc(100% - 180px);
}

.video__meta-break {
    width: 100%;
}

.video__description {
    margin-bottom: 24px;
}

@media(min-width: 48em) {
    .video__player {
        margin-top: 32px;
        border-top-width: 8px;
    }


    .video__title {
        padding: 32px 0 16px;
    }

    .video__meta {
        padding: 0 0 32px;
        margin-bottom: 32px;
    }

    .video__description {
        margin-bottom: 64px;
    }
}

</style>
